
body {
  padding-top: 54px;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;

}

#learnMoreButton {
  margin: 1rem;
}

#copyrightBlurb {
  text-align: center;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  .header-section {
    min-height: 65vh;
      text-align: center;
      padding-top: 15vh;
      /* background-color: #f5f5f5; */

  }
  .header-button {
      width: 20vh;
      margin-left: auto;
      margin-right: auto;
  }
    .audience-section {
        min-height: 65vh;
        text-align: center;
        padding-top: 5vh;
        background-color: #f5f5f5;

    }
}

.spacer{
    margin-top: 10vh;
}

.control-prev {
    font-size: 25px;
    float: left;
    margin-top: 30vh;
    margin-left: 8vh;
}

.control-next {
    font-size: 25px;
    float: right;
    margin-top: 30vh;
    margin-right: 8vh;
}

.portfolio-item {
  margin-bottom: 30px;
}

.row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#dlData, #cardButton, #learnMoreButton {
  background-color: #CC225E;
  border-color: #CC225E;
}

#cardButton {
  color: #FFF;
}

.btn-floating {
  color: #3DBAFF;
}

.navbar {
  padding: 1.5rem;
  background-color: white;
}

#d4gLogo {
  width: 25%;
}

.listItemBlackText {
  color: black;
  margin: 1rem;
}

.navbar-toggler-icon {
  background-color: #3DBAFF;
}

/* portfolio-item.html */
#projectsMoreHeadSpace {
  padding-top: 3.5rem;
}

.card{
    border: none;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}