
body {
  padding-top: 54px;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;

}

#learnMoreButton {
  margin: 1rem;
}

#copyrightBlurb {
  text-align: center;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  .header-section {
    min-height: 65vh;
      text-align: center;
      padding-top: 15vh;
      /* background-color: #f5f5f5; */

  }
  .header-button {
      width: 30vh;
      margin-left: auto;
      margin-right: auto;
  }
    .audience-section {
        min-height: 65vh;
        text-align: center;
        padding-top: 5vh;
        background-color: #f5f5f5;

    }

}

a {
    color: #3DBAFF;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.spacer{
    margin-top: 10vh;
}

.page-title {
    font-size: 3em;
    text-align: center;
    padding-top: 1em;
  }

.subheader {
    font-size: 3em;
}

.header-button {
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.control-prev {
    font-size: 25px;
    float: left;
    margin-top: 15vh;
    margin-left: 8vh;
}

.control-next {
    font-size: 25px;
    float: right;
    margin-top: 15vh;
    margin-right: 8vh;
}

.portfolio-item {
  margin-bottom: 30px;
}

.row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#dlData, #cardButton, #learnMoreButton {
  background-color: #CC225E;
  border-color: #CC225E;
}

#cardButton {
  color: #FFF;
}

.btn-floating {
  color: #3DBAFF;
}

.navbar {
  padding: 1.5rem;
  background-color: white;
    font-size: 1.5em;
    /* font-weight: 600; */
    opacity: 0.975;
}

#d4gLogo {
  width: 25%;
}

.listItemBlackText {
  color: black;
  margin: 1rem;
}

.navbar-toggler-icon {
  outline-color: gray;
  outline-style: solid;
  background-color: gray;
  /* color: #3DBAFF; */
}

/* portfolio-item.html */
#projectsMoreHeadSpace {
  padding-top: 1.5rem;
}



#microsoftLogo {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.card{
    border: none;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.video {
    margin-right: 20vh;
}

.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #ffffff;
     background-color: #CC225E;
     font-size: 2.5em;
     opacity: 0.9;
 }

#soon2come_list_item {
  font-size: 1.5rem;
}

.reportImages{
  border:3px solid;
  max-height: 25rem;
}

#linkFormat {
  text-decoration: none;
}
