/* DO NOT REMOVE
BRAND COLORS

blue: 3DBAFF
yellow: FFEF44
purple: CC225E

 */

body {
  padding-top: 54px;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;

}

.hero-image {
  background: url("../img/sky_background_sm.jpg") no-repeat center;
  background-size: cover;
  height: 650px;
  position: relative;
  margin-top: 5em;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(248, 248, 255, 0.6);
}

#the-page-title {
  font-size: 3em;
}

.page-title {
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
}

#learnMoreButton {
  margin: 1rem;
}

#copyrightBlurb {
  text-align: center;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .header-section {
        min-height: 65vh;
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 15vh;
        margin-bottom: 5vh;
        /*background-image: url("../img/sky_background_sm.jpg");*/
    /*)*/

    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .header-section {
        min-height: 65vh;
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 15vh;
        margin-bottom: 5vh;
        /*background-image: url("../img/sky_background_med.jpg");*/
    /*)*/

    }

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  .header-section {
    min-height: 65vh;
      text-align: center;
      padding-top: 15vh;
      padding-bottom: 15vh;
      margin-bottom: 5vh;
       /*background-image: url("../img/sky_background_med.jpg");*/
       /*)*/

  }
  .header-button {
      width: 30vh;
      margin-left: auto;
      margin-right: auto;
  }
    .audience-section {
        min-height: 65vh;
        text-align: center;
        padding-top: 5vh;
        background-color: #f5f5f5;

    }

}

/* Make carousel disappear for mobile ver */
@media (max-width: 992px) {
    .carousel-desktop{
        display:None;
    }
}

/* Make mobile friendly carousel disappear for desktop */
@media (min-width: 992px) {
    .carousel-desktop-mobile{
        display:None;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.header-section {
    min-height: 100%;
    min-width: auto;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-bottom: 5vh;
    background-image: url("../img/sky_background_lg.jpg");
    opacity: 0.5;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

a {
    color: #3DBAFF;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.spacer{
    margin-top: 10vh;
}

.subheader {
    font-size: 3em;
}

.header-button {
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.control-prev {
    font-size: 25px;
    float: left;
    margin-top: 15vh;
    margin-left: 8vh;
}

.control-next {
    font-size: 25px;
    float: right;
    margin-top: 15vh;
    margin-right: 8vh;
}

.portfolio-item {
  margin-bottom: 30px;
}

.row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#dlData, #cardButton, #learnMoreButton {
  background-color: #CC225E;
  border-color: #CC225E;
}

#cardButton {
  color: #FFF;
}

.btn-floating {
  color: #CC225E;
  opacity: unset;
}
.btn-floating:hover {
  color: #CC225E;
  opacity: unset;
}


.navbar {
  padding: 1.5rem;
  background-color: white;
    font-size: 1.5em;
    /* font-weight: 600; */
    opacity: 0.975;
}

#d4gLogo {
  width: 75%;
}

.listItemBlackText {
  color: black;
  margin: 1rem;
}

.navbar-toggler-icon {
  outline-color: gray;
  outline-style: solid;
  background-color: gray;
  /* color: #3DBAFF; */
}

/* portfolio-item.html */
#projectsMoreHeadSpace {
  padding-top: 1.5rem;
}

.subblurb{
  padding: 1em 2em;
  text-align: center;
}

#microsoftLogo {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.carousel-inner{
    width: 100%;
    min-height: 100%;
    min-width: auto;
}

.carousel-control-next {
  z-index: 2;
}
.carousel-control-prev {
  z-index: 2;
}

.card{
    border: none;
}

.card-img {
    /* width: 100%; */
    border-radius: calc(0.25rem - 1px);
}

.video {
    margin-right: 20vh;
}

.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #ffffff;
     background-color: #CC225E;
     font-size: 2.5em;
     opacity: 0.9;
 }

#soon2come_list_item {
  font-size: 1.5rem;
}

.reportImages{
  border:3px solid;
  max-height: 25rem;
}

#linkFormat {
  text-decoration: none;
}
